.card-image img
{
    height: 20em;
    position: fixed;
}

.imagen-logo{
    margin: 12px 0;
}

form i{
    margin: 5px !important;
}

header{
    text-align: center;
}

#header-logo{
    width: 50% !important;
    margin-top: 5px;
}

#appbundle_users:last-child{
    display: none !important;
}

.btn{
    background-color: #689f38;
    margin-top: 3px;
    margin-bottom: 3px;
}

h2{
    color: #689f38;
    text-align: center;
}

h5, h6{
    color: #558b2f;
}

.margen_derecho{
    margin-right: 15px;
    padding-left: 25px !important;
}

.comment{
    border-bottom: solid darkolivegreen 1px;
    margin-bottom: 5px;
}

.collapsible-body{
    border-bottom: 0px;
}

@media screen and (min-width: 980px){
    .slider{
        height: 550px !important;
    }

    .slides{
        height: 500px !important;
    }

    .slides img{
        height: 100% !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 979px){
    .slider{
        height: 200px !important;
    }

    .slides{
        height: 150px !important;
    }

    .slides img{
        height: 150px !important;
    }
}

.collapsible-body>h5{
    padding-top: 10px;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: #558b2f !important;
    border-color: #558b2f !important;
}

.tabs .tab a{
    color: #689f38 !important;
    border-color: #689f38 !important;
}

.tabs .indicator{
    background-color: #558b2f !important;
}