{% extends 'layout.html.twig' %}

{% block contenido %}
    <h2>Image creation</h2>

    {{ form_start(form, { 'enctype':"multipart/form-data"}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('images_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
