{% extends '::layout.html.twig' %}

{% block contenido %}
        {# Muestra el error en caso de existir#}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">

            {# Input para el campo email #}
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            {# Input para el campo contraseña #}
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="_password" />

            {# Ruta a la que redirige si hay éxito #}
            <input type="hidden" name="_target_path" value="/" />

            <button class="btn light-green darken-2" type="submit">Entrar</button>
            <a class="btn light-green darken-2" href="{{ path('users_new') }}">Registro</a>
        </form>
    <p></p>
{% endblock %}